body{
    background-color: rgb(224, 200, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    border-radius: 10px;    
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
}

#main{
    border: 2px gray solid;
    border-radius: 30px;
    padding: 15px;
    text-align: center;
}

#leaderName{
    background-color: blueviolet;
    font-size: 25px;
    border: rgb(77, 14, 135) solid;
    border-radius: 15px;
    padding: 15px;
}

#tablesContainer{
    display: flex;
    justify-content: center;
}

table{  
    font-family: Verdana, Geneva, Tahoma, sans-serif  
    border: 2px gray solid;
    background: rgb(169, 81, 169);
    border-radius: 10px;
    margin: 15px;
}

td, th {
    background: rgb(230, 190, 230);
    border-radius: 10px;
    padding: 5px;    
}